@import '../../styles/app';

.employee-list {
  .v-card__title {
    .v-input {
      max-width: 45%;
      @include media-breakpoint-up(md) {
        max-width: 20%;
      }
    }
  }
  button.add_code {
    position: absolute;
}

  .v-data-table {
    .v-text-field > .v-input__control > .v-input__slot {
      &:after, &:before {
        border: none !important;
      }
    }
    .v-data-table__checkbox.v-simple-checkbox {
      .v-icon.mdi-checkbox-marked {
        color: $primary;
      }
    }
  }
}
p#copycode {
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  border: 1px solid;
}
